

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}


.pagination {
  margin-bottom: 15px;
}

.searchbar {
  margin-right: 25px;
}


.searchbar-textbox{
    float:left;
    position:relative;
    right:-41px;
    height:38px;
}

.searchbar-button{
    float:right;
    position:relative;
    width:30;
    border-radius: 0px 4px 4px 0px;
    border:0px;
    height:38px;
    cursor:pointer;
    opacity:0;
    filter: alpha(opacity=0);
}
.search-result{
    margin-top:20px;
}

.search-panel {
    margin:30px auto 20px auto;
    background-color:#ffffff; 
    border:1px solid #cccccc;
    width:100%;
    max-width:700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-panel input {
    background-color:transparent;
    border:0;
    border-radius:10px 10px 10px 10px;
    outline: none;
}
.search-panel #search_button {
    cursor: pointer;
    margin-right:10px;
    padding:10px 15px 10px 15px;
    border-radius:50px;
}
.search-panel #search_box {
    padding:15px 30px 15px 15px;
    width:100%;
    font-size: 22px;
}
.search-panel select{
    border-top:0px; border-bottom:0px; border-right:0px;
    padding:5px 0px 5px 10px;
    width:100%;
    font-size: 22px;
    background-color:transparent;
    outline: none;
    border-color:#cccccc;
}
.search-info{
    color:#49729b;
    font-weight:400;
}
.search-info a{
    color:#49729b;
    font-weight:600;
}


.pagination {
    margin:10px auto 20px auto;
    text-align:center
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #aaaaaa;
    margin: 0 4px;
    border-radius:50px;
}

.pagination a.active {
    background-color: #6190bf;
    color: white;
    border: 1px solid #6190bf;
}

.pagination a:hover:not(.active) {background-color: #ddd;}