{% extends 'base.html' %}
{% block content %}
        <div class="post">
              <h1 class="my-4">Indexing
              </h1>
               <div>
                <p >
                <p>
                    <button class="btn btn-primary" id="btn_start_indexing"  onclick="onclick_btn_start_indexing()" type="button">Start Indexing</button>
                    <button class="btn btn-danger" id="btn_delete_all_index"  onclick="onclick_btn_delete_all_index()" type="button">Delete All Index</button>
                    <script>
                    function onclick_btn_start_indexing() {
                        window.location.href = "/indexing/start";
                    }
                    function onclick_btn_delete_all_index() {
                        /*                       
                       var e = document.getElementById("crawl_option");
                        var crawl_option = e.options[e.selectedIndex].value;
                        var crawl_keyword = document.getElementById("crawl_keyword").value;
                        $.get("/crawl/start",
                            {
                                crawl_keyword: crawl_keyword,
                                crawl_option: crawl_option
                            },
                            function(data, status){
                        });
                        document.getElementById("btn_start_crawl").innerText= "Starting ...";
                        document.getElementById("btn_start_crawl").disabled = true;
                        setTimeout(function(){
                            window.location.href = "/crawl";
                            
                        }, 10000);
                        */
                    }
                </script>
                </p>
                
                </p>
                
              </div>
        </div>
{% endblock %}