{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block content %}
        {% if deleted == 1 %}
                 <script>
                    alert("deleted");
                </script>
        {% endif %}
        <div class="post">
              <h1 class="my-4">Indexing
              </h1>
               <div>
                <p >
                <p>
                    {% if status == 'indexing' %}
                    <h4>
                    We are indexing ...
                    </h4>
                    <button class="btn btn-danger" id="btn_stop_indexing"  onclick="onclick_btn_stop_indexing()" type="button">Stop Indexing</button>
                    <script>
                 
                    
                    function onclick_btn_stop_indexing() {
                        window.location.href = "/indexing/stop";
                    }
                    </script>
                    {% else %} 
                
                    <button class="btn btn-primary" id="btn_start_indexing"  onclick="onclick_btn_start_indexing()" type="button">Start Indexing</button>
                    <button class="btn btn-danger" id="btn_delete"  onclick="onclick_btn_delete_indexing()" type="button">Delete Index</button>
                    
                    <script>
                    function onclick_btn_start_indexing() {
                        $.get("/indexing/start",{},
                            function(data, status){
                        });
                        document.getElementById("btn_start_indexing").innerText= "Starting ...";
                        document.getElementById("btn_start_indexing").disabled = true;
                        document.getElementById("btn_delete").disabled = true;
                        setTimeout(function(){
                            window.location.href = "/indexing";
                            
                        }, 2000);
                        
                    }
                    function onclick_btn_delete_indexing() {
                        window.location.href = "/indexing/delete";
                    }
                    </script>
                
                
                {% endif %}
                </p>
                </p>
                
              </div>
        </div>
{% endblock %}